@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Roboto', sans-serif;

}

body {
    margin: 0;
}

.header {
    display: flex;
    padding: 20px 248px;
    margin: 0;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
}

.title {
    font-size: 24px;
    font-weight: 900;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 12px;
    font-size: 18px;
    color: #E5E7EB;
}

